@font-face {
    font-family: "Outfit";
    src: url(/fonts/Outfit-VariableFont_wght.ttf) format(ttf);
}

@font-face {
    font-family: "Soulness";
    src: url(/fonts/Soulness.otf) format(otf);
}

@font-face {
    font-family: "Night";
    src: url(/fonts/Nightydemo.otf) format('truetype');
}

@font-face {
    font-family: "Give";
    src: url(/fonts/GiveAway.otf) format('truetype');
}

body {
    font-family: Outfit, Verdana, Tahoma, sans-serif;
    color: #707070;
    margin: 0;
    line-height: 22px;    
}

a {
    text-decoration: none;
    color: white;
}

a.nav-other {
    color: #03A696;
}

a.nav-other:hover {
    color:#03a696a9
}

a:hover {
    color: #03A696;
}

ul {
    padding-inline-start: 0;
}

header {
    padding-top: 20px;
}

nav li {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0 30px;
}

.menu {
    display: flex;
    justify-content: center;
}

.logo-img {
    max-width: 80px;
}

.current {
    text-decoration: underline;
}

h1, h2 {
    font-family: Soulness;
    color: #074040;
    font-size: 2.8rem;
}

/* Homepage */

.hero {
    background-image: url(/images/home_hero_filter.png);
    min-height: 90vh;
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    position: relative;
  }

.hero-content {
    position: absolute;
    top: 20%;
    left: 50px;
}

.hero-content_text {
    font-family: Night;
    font-size: 7rem;
    color: #03A696;
} 

.hero-content_button {
    background-color: #03A696;
    padding: 10px 50px;
    font-size: 1.4rem;
    border-radius: 20px;
}

@media (max-width:760px) {
    .hero-content_text {
        font-size: 4rem;
        line-height: 40px;        
    }

    .hero-content_button {
        font-size: 1rem;
    }
}

.hero-content_button:hover {
    background-color:#41cec0;
    color: white;
    box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.10);
    transition: 0.3s; 
    
}

.first-section {
    display: flex;
    padding: 100px 50px;
    justify-content: space-evenly;
}

.first-section-div {
    max-width: 500px;
}

.first-section-img {
    max-width: 100%;
    border-radius: 50%;
}

@media (max-width:950px) {
    .first-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }    
}

.second-section {
    font-family: Give;
    background-color:#F2DCD8;
    color:#074040;    
}

.second-section p {
    max-width: 40%;
    padding: 100px;
    margin: auto;
    font-size: 1.2rem;
}

.news {
    text-align: center;
    padding: 120px 10px;
}

@media (max-width:760px) {
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        margin: 10px;
    }
    h1 {
        line-height: 50px;
    }
}

.button {
    background-color: #03A696;
    color: white;
    border-color:#03A696;
    border-style: none;
    padding: 6px 30px;
}

.button:hover {
    background-color:#41cec0;
    color: white;
    box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.10);
    transition: 0.3s;   
}

/*About*/

.hero-about {
    background-image: url(/images/friut_hero.jpg);
    min-height: 40vh;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    position: relative;
}

.container {
    height: 800px;
}

.about-section {
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid #F2DCD8;
    padding: 20px;
}

.about-content {
    height: 300px;
    padding: 2rem;
    background-color: #F2DCD8;
    z-index: 1;
}

.about-img {
    border-radius: 40%;
    max-width: 500px;
}

@media (max-width:660px) {
    .about-img {
        max-width: 300px;
        margin: auto;
    } 
    
    .about-section {
        max-width: 300px;
    }

    .about-content {
        height: auto;
    }
}


/*Contact*/

main {
    min-height: 20rem;
}

.contact {
    background-color: #03a6960c;
    max-width: 70%;
    margin: auto;
    height: 700px;
}

.contact-info {
    text-align: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid #03A696; 
}

#contactForm {
    max-width: 80%;
    margin: auto;
    padding: 3rem;
}

@media (max-width:800px) {
    .contact {
        min-height: 1000px;
    } 
    
    
}

.errorForm {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

label, input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    font-size: 16px;
}

.contact-submit {
background-color: #D9998B;
margin-top: 2em;
padding: 0.7rem 2.5rem;
}


/*Recipe*/

.hero-blog {
    background-image: url(/images/hamburger_hero.jpg);
    min-height: 40vh;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    position: relative;
}

.reci {
    font-size: 1rem;
}

.recipes-text, .recipes-text_content {
    text-align: center;
}

.card {
    display: flex;
    max-width: 500px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 7px 0 rgba(178, 174, 174, 0.3), 0 5px 20px 0 rgb(178, 174, 174, 0.4);
    margin: 20px;
    border-radius: 1.1%;
}

.recipes {
    text-align: center;
}

.recipes-content {
    max-width: 500px;
    margin: auto;
    padding: 20px 10px;
}

#extra-ingredients {
    display: block;
    margin: 10px auto;

}

/*Newsletter*/

.news {
    height: 200px;
    text-align: center;
}

input {
    display: inline;
}

@media (max-width: 900px) {
    .input {
        display: flex;
        flex-direction: column;
    }
}



/* Footer */

footer {
    background-color: #F2DCD8;
    font-size: 14px;
}

.footer-content {    
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}

@media (max-width: 550px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

li {
    list-style-type: none;
}

.footer-img {
    max-width: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.footer-copy {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid #03A696;   
}

.error {
    background: rgb(240, 178, 178);
    padding: 5px;
    border: 3px solid rgb(211, 3, 3);
    color: rgb(209, 6, 6);
    font-size: 20px;
    margin-top: 2%;
    
}



